body {
    margin: 0;
    font-family: 'Fredoka', sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #070606;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: #020202;
}

.topnav a.active {
    background-color: #020202;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.CapaInicio {
    width: 100%;
    height: auto;
}

.h1 {
    font-size: 400%;
    text-align: center;
    padding-bottom: 0%;
}

.p {
    margin: 7px;
    text-align: center;
    font-size: 100%;
    color: #0202028e;
}

.imgBlindagemResponsive {
    display: flex;
    flex-wrap: wrap;
}

.imgBlindagemResponsive>div {
    flex: 1 1 200px;
}

.imgBlindagem {
    width: 150px;
    height: 150px;
    padding: 17px;
}

@media screen and (min-width: 480px) {
    .imgBlindagem {
        width: 200px;
        height: 200px;
        padding: 14px;
    }

}

div>.video {
    background-color: rgb(13, 19, 19);
    margin: 0px -0px 20px -0px;
    padding: 10px;
    padding-bottom: 7%;
    position: relative;
}

div.video video {
    position: relative;
    top: 7%;
    left: 7%;
    width: 90%;
    height: 90%;
}

.divReparo>div {
    margin: 10px;
}

.divReparo {
    display: flex;
}

.p1 {
    margin: 7px;
    font-size: 100%;
    color: #0202028e;
}

.imgReparo {
    box-shadow: 4px 4px 4px 4px rgba(50, 68, 74, 0.114);
}

.trocaDeTela {
    text-align: center;
}

* {
    box-sizing: border-box;
}

.img-comp-container {
    position: relative;
    height: 200px;
    margin-left: 16%;
}

.img-comp-img {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
}

.img-comp-img img {
    display: block;
    vertical-align: middle;
}

.img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    width: 40px;
    height: 40px;
    background-color: #2196F3;
    opacity: 0.7;
    border-radius: 50%;
}

.WhatsApp {
    background-color: #45bb63;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.instagram {
    background-color: #b635c7;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.e-mail {
    background-color: #3182fa;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.contatos>a {
    margin: 10px;
}

a:hover,
a:active {
    background-color: rgba(85, 81, 81, 0.925);
}

.localizacao {
    background-color: #47576469;
}

@media screen and (min-width: 650px) {
    .localizacao {
        display: flex;
        margin: 14px;
        background-color: #47576469;
    }
}

.localizacao>div {
    margin: 14px;
}

iframe {
    height: 300px;
    width: auto;
    margin-left: 37px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    display: none;
    margin-top: 27px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

input {
    border-radius: 3px;
    height: 40px;
    width: 230px;
}

.login {
    padding-left: 20%;
}

button {
    border-radius: 3px;
    width: 230px;
    height: 30px;
    background-color: #7bb48975;
    margin-top: 10px;
}

footer {
    background-color: #020202;
    text-align: center;
    height: 50px;
}

.Pfooter {
    color: #ddd;
    padding-top: 14px;
}

.Pfooter>a {
    color: #ddd;
}

#fotos {
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px rgba(50, 68, 74, 0.114);
}

.butaocupom {
    height: 33px;
    width: 150px;
    background-color: #40f114d3;
    text-align: center;
    border-radius: 7px;
    font-size:x-large ;
    box-shadow: 4px 4px 4px lightblue;  
    margin-left: 0px;
}

.butaocupom > a {
    text-decoration: none;
    color: #faf7f7;
    background-color:  #49f51eb3;
}

.imgBlindagem2 {
    height: 330px;
    width: 330px;
    margin-left: 21px;
}
.opacit {
    opacity: 14%;
}
.afastar {
    margin-left: 21px;
}

.imFixa {
    height: 370px;
    width: auto;
    background-image: url('GacellAssistenciaTecnica\ \(2\).jpeg');
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.575);
}
.imFixa > h4 {
    padding: 40px;
    color: #ddd;
    text-shadow: 1px 1px 0px black ;
}